   <div><h1 class="has-text-centered"><strong>Blog Post</strong></h1></div>
   <br>

     <div class="mb-3 titlebox">
      <input class="form-control" placeholder="">
    </div>
    <br>
    
    <div><h1 class="has-text-centered"><strong>Add a Blog Post</strong></h1></div>
    <br>

     <div class="mb-3 textbox">
      <textarea placeholder= "Title" class="form-control" rows="3"></textarea>
    </div>

    <div class="mb-3 textbox">
      <textarea placeholder= "Contents" class="form-control" rows="3"></textarea>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-center">
      <a href="http://www.google.com/" class="btn btn-outline-dark col-2" role="button"><strong>Save</strong></a>
      <a class="btn btn-outline-dark col-2" role="button"><strong>Delete</strong></a>
    </div>
