
   <!-- Blog Posts -->
   <section>
    <div class="body">
      <b><div><h1 class="has-text-centered"><strong>Blog Posts</strong></h1></div></b>
    </div>
    <br>
    <div class="card w-auto">
      <div class="card-body">
        <div><h2 class="has-text-left"><strong>
          <p>Web Development: January 8, 2023</p></strong>
          <br>
          <p>Full-Stack Web Development encompass front end and back end development.</p>
          </h2></div>
      </div>
      <div class="card w-auto">
        <div class="card-body">
          <div><h2 class="has-text-left"><strong>
          <p>HTML: January 10, 2023</p></strong>
          <br>
          <p> An index.HTML file was created for the application.</p>
          </h2></div>
      </div>
      <div class="card w-auto">
        <div class="card-body">
          <div><h2 class="has-text-left"><strong>
          <p>MVC: January 11, 2023</p></strong>
          <br>
          <p>MVC within its architectural structure can be used for applications for back end development.</p>
          </h2></div>
      </div>
    </div>

    <br>
    <br>
    
     <div class="mb-3 textbox">
      <textarea placeholder= "Comment on Post" class="form-control" rows="3"></textarea>
    </div>

    
    <!-- Post button for blogs -->
    <div class="d-grid gap-2 d-md-flex justify-content-center">
      <a href="http://www.google.com/" class="btn btn-outline-dark col-2" role="button"><strong>Submit</strong></a>
    </div>
    <br>