<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Sauce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <!-- Navbar -->
    <section>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="./index-homepage.html">
                  <button class="btn btn-outline-success me-2" type="button">Home</button>
                </a>
              </li>
              <li class="nav-item">
                <a href="./index-dashboard.html">
                  <button class="btn btn-outline-success me-2" type="button">Dashboard</button>
                </a>
              </li>
              <li class="nav-item">
                <a href="./loginpage.html">
                  <button class="btn btn-outline-success me-2" type="button">Login</button>
                </a>
              </li>
              <li class="nav-item">
                  <button class="btn btn-outline-success me-2" type="button">Logout</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
     </section>
  
    <!-- Heading -->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">The Tech Blog</span>
      </div>
    </nav>
   </section>

   <br>
   <br>

   <!-- Blog Posts -->
   <section>
    <div class="body">
      <b><div><h1 class="has-text-centered"><strong>Blog Posts</strong></h1></div></b>
    </div>
    <br>
    <div class="card w-auto">
      <div class="card-body">
        <div><h2 class="has-text-left"><strong>
          <p>Web Development: January 8, 2023</p></strong>
          <br>
          <p>Full-Stack Web Development encompass front end and back end development.</p>
          </h2></div>
      </div>
      <div class="card w-auto">
        <div class="card-body">
          <div><h2 class="has-text-left"><strong>
          <p>HTML: January 10, 2023</p></strong>
          <br>
          <p> An index.HTML file was created for the application.</p>
          </h2></div>
      </div>
      <div class="card w-auto">
        <div class="card-body">
          <div><h2 class="has-text-left"><strong>
          <p>MVC: January 11, 2023</p></strong>
          <br>
          <p>MVC within its architectural structure can be used for applications for back end development.</p>
          </h2></div>
      </div>
    </div>

    <br>
    <br>
    
     <div class="mb-3 textbox">
      <textarea placeholder= "Comment on Post" class="form-control" rows="3"></textarea>
    </div>

    
    <!-- Post button for blogs -->
    <div class="d-grid gap-2 d-md-flex justify-content-center">
      <a href="http://www.google.com/" class="btn btn-outline-dark col-2" role="button"><strong>Submit</strong></a>
    </div>
    <br>

  </body>